<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LED_EPL.Settings.UIAppearanceSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <userSettings>
    <LED_EPL.Settings.UIAppearanceSettings>
      <setting name="Theme" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Style" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ColorFormBorder" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ChildFormMarker" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FormIconActiveMenuItem" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MultiChildForms" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FormBorderSize" serializeAs="String">
        <value>2</value>
      </setting>
    </LED_EPL.Settings.UIAppearanceSettings>
  </userSettings>
  <connectionStrings>
    <add name="EPLEntitiesModel_User" connectionString="metadata=res://*/Class.ModelModelo_Users.csdl|res://*/Class.ModelModelo_Users.ssdl|res://*/Class.ModelModelo_Users.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.108.16\SQLEXPRESS;initial catalog=EPL;persist security info=True;user id=crud;password=2B2XWXMV;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>
